# Data and output
dataset/
output/
runs/
test_video/

# Python cache
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Virtual environments
labelstudio_env/
venv/

# Models and video
/*.pt
*.mp4

# Database
batch.db

# Other
yolo_train.py
